:root {
  --light-yellow: #e5c07b;
  --dark-yellow: #d19a66;
  --blue: #61afef;
  --cyan: #3cd4e9;
  --light-red: #e06c75;
  --dark-red: #be5046;
  --comment-gray: #606b7d;
  --magenta: #c678dd;
  --white: #d4e2fc;
}

pre {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

code {
  color: var(--white);
}

code .keyword {
  color: var(--dark-red);
}

code .type {
  color: var(--light-yellow);
}

code .string {
  color: var(--dark-yellow);
}

code .numeric.constant {
  color: var(--magenta);
}

code .function {
  color: var(--blue);
}

code .comment {
  color: var(--comment-gray)
}