@font-face {
    font-family: "TX02";
    src: url("TX02.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #ff7b00;
}

h2 {
    color: #ff6a00
}
strong {
    color: #ffffff;
}

a {
    color: #00ffbf;
}

html {
    color: #ccc;
    font-size: 1.1em;
    font-family: "TX02";
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #111;
}

body {
    width: 800px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.site-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    /* text-align: center; */
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.block {
    border: 1px dotted white;
    padding: 5px 15px;
    margin: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block h1 {
    font-size: 1em;
    text-align: center;
    margin-bottom: 0;
}

.small {
    font-size: 0.8em;
}

.wave {
    background: #111;
    color: #fff;
    text-shadow:
        1px 1px 10px #fff,
        1px 1px 10px #ccc;
}

footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer hr {
    width: 100%;
}
