/* Define the custom font */
@font-face {
    font-family: 'TX-02';
    src: url('../fonts/TX-02-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.header {
    flex-direction: row;
    align-content: center;
    display: flex;
    justify-content: center;
    /* TODO: fix this */
    font-family: 'TX-02', 'TX-02-Variable';
    font-size: xx-large;
    color: white;
    background: rgb(48, 48, 48);
}

.topBar {
    background: rgb(48, 48, 48);
    color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-bottom: 1rem;
    justify-content: center;
    font-family: 'TX-02', 'TX-02-Variable';
}

.topBarButton {
    background: linear-gradient(to bottom, rgb(52, 86, 180), rgb(82, 116, 210));
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 10px;
    font-size: large;
    border-radius: 4px;
    font-family: 'TX-02', 'TX-02-Variable';
    cursor: pointer;
    transition: background 0.3s ease;
}

.topBarButton:hover {
    background: linear-gradient(to bottom, rgb(82, 116, 210), rgb(112, 146, 240));
}